<form method="post">
    <input type="text" name="CategoryName" placeholder="Azerbaycan dili" />
    <input type="text" name="CategoryName" placeholder="Rus dili" />
    <input type="text" name="CategoryName" placeholder="Ingilis dili" />
    <input type="hidden" name="LangCode" value="Az" />
    <input type="hidden" name="LangCode" value="Ru" />
    <input type="hidden" name="LangCode" value="En" />
    <br />
    <input type="text" name="PhotoUrl" />
    <br />
    <input type="submit" value="Create" />
</form>
