@model User


<div id="userLogin" class="m-3">
    <a class="m-2 userIcon" href="#">@Model.FirstName @Model.LastName</a>
    <ul class="loginRegister">
        <li class="sign-in-up"><a href="/auth/profile">Profile</a></li>
        <li class="sign-in-up"><a href="/auth/logout">Logout</a></li>
    </ul>
</div>



